@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --size-xxs: 0.25rem;
    --size-xs: 0.5rem;
    --size-s: 1rem;
    --size-m: 1.5rem;
    --size-l: 2rem;
    --size-xl: 4rem;
    --size-xxl: 8rem;
    
    --color-1: #EEBEA3;
    --color-2: #E7B4A9;
    --color-3: #E2BBBB;
    --color-4: #D8CBCB;
    --color-5: #D9D9D9;
    --dark: #303030;
    --gray-dark: #606060;
    --gray: #9f9f9f;
    --light: #faf3f2;
    --white: #ffffff;
    --success: #51fac2;
}