/* 
    RULES: 
    1- General and Layout
    2- Fonts
    3- Margins & Paddings
    4- Forms
    5- Others
    6- Media Queries
*/
/* OTHERS */
.logo-container img {
    width: 50px;
    float: right;
}