.title-container {
    color: var(--white);
    font-size: var(--size-m);
    align-self: center;
}
.title-container > p:first-child {
    font-weight: bold;
    text-transform: uppercase;
}
.title-container > p:last-child {
    max-width: 300px;
    line-height: calc(var(--size-m) / 1.2);
    letter-spacing: 0.04rem;
}

@media screen and (max-width: 425px) and (orientation: portrait) {
    /* OTHERS */
    .title-container {
        align-self: initial;
    }
}